::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
body{
    background-color: black;
}

.container{
    position: relative;
    margin: 0px 10%;
    text-align: center;
    width: 80%;
    height: 80%;
    color: white;
}
.img-container{
    position: relative;
    display: inline-block;
    float: left;
    width: 500px;
    height: 500px;
    border: 1px solid white;
}
.img-container img{
    width: 100%;
    height: 100%;
}

.detail-container{
    position: relative;
    display: inline-block;
    width: calc( 100% - 504px);
    height: 500px;
    float: left;
    border: 1px solid white;
    overflow: auto;
}
.plot-container{
    float: left;
    height: 145px;
    border: 1px solid white;
    position: relative;
    display: inline-block;
    overflow: auto;
}

.table{
    width: 100%;
    color: white;
    font-size: 20px;
}
.table tr{
    height: 45px;
}
.table td{
    width: 50%;
}
.button-container{
    clear: both;
    padding: 20px 0px;
}
.button {
    border : 2px solid white;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 3px 4px #4f4f4f;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button:hover{
    cursor : pointer;
    opacity : 0.8;
    margin-left: 5px;
    margin-top: 8px;
    box-shadow: 0px 0px #888888;
  }
  @media screen and (max-width: 1150px) {
    .container{
        position: relative;
        margin: 0px calc((100% - 500px)/2);
        text-align: center;
        width : 500px;
        height: 80%;
        color: white;
    }
    .plot-container{
        width: 100%;

    }
    .detail-container{
        width: 100%;
    }
    .img-container{
        width: 100%;
    }
    .button-container{
        width:100%;
        text-align: center;
        float: left;
    }
  }